<!DOCTYPE html>
<html lang=ja>

  <meta charset="utf-8"/>

  <link rei = "stvlesheet" herf = "top.css"/>

  <title>Bookers</title>


<body>


<h1>ようこそ <strong>Bookers </strong> へ！</h1>

<p ><strong>Bookers</strong> では、さまざまな書籍に関するあなたの意見や</p>

<p >印象を共有し交換することができます</p>

<p ><a class=top_a href=/books>start</a><p>


</bodey>

</html>